.formCadastroRestricao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 80vh;
    justify-content: center;
    gap: 15px;
    margin: 0 25%;
}

.formCadastroRestricao .dadosAluno{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.dadosAluno select{ 
    border-radius: 10px;
    color: var(--neutral-400);
    outline: none;
}

.dadosAluno input{ 
    border-radius: 10px;
    color: var(--neutral-400);
    outline: none;
}

.formCadastroRestricao .dadosRestricao{
    display: flex;
    flex-direction: row;
    gap: 7%;
    width: 110%;
}

.formCadastroRestricao .dadosRestricao .inputRestricao{
    padding: 2vh 1vh; 
    width: 50vh;
    border-radius: 10px;
    color: var(--neutral-200);
    border: 1px solid var(--neutral-400);
    outline: none;
}

.atestado{
    border: 1px solid var(--neutral-400);
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-600);
}

.atestado input{
    display: none;
}

.atestado img{
    width: 20%;
}

.atestado p{
    color: var(--neutral-400);
    font-size: 0.8em;
    margin-top: 3px;
}

.formCadastroRestricao a{
    margin-left: 55%;
    margin-top: 15px;
    
}

