.a{
    display: inline-block;
    line-height: 6vh;
    width: 50vh;
    text-align: center;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 3vh;
}

.a-main{
    background-color: var(--main-color);
    color: var(--white-color);
}

.a-second{
    background-color: var(--second-color);
    color: var(--white-color);
}

.a-third{
    background-color: var(--second-color);
    color: var(--white-color);
} 

.a-fourth{
    background-color: #E9E6E5;
    color: var(--main-color);
    border: 1px var(--main-color) solid;
}

.logoLogin{
    width: 7%;
    margin-bottom: 2vh;
}
.logoNavbar{
    width: 5%;
}

.fontTitle{
    font-family: 'Raleway', sans-serif;
    color: var(--neutral-100);
    font-size: 5vh;
    margin-bottom: 3vh;
}

.inputForm{
    padding: 1vh 0vh; 
    width: 50vh;
}

.navbar{
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 0 10vh;
    align-items: center;
}

.aNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18vh;
}

.aNavbar a{
    color: black;
}

.active{
    padding: 1vh;
    border-bottom: 1px solid black;
}