.homeText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50vh;
    width: 60%;
    gap: 3vh;
    margin: 5% 5%;
    justify-content: center;
}

.homeText h1{
    font-family: 'Raleway', sans-serif;
    color: var(--neutral-100);
    font-size: 230%;
    margin-bottom: 3vh;
}

.homeText span{
    font-family: 'Arapey', serif;
    font-size: 150%;
}