*{
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'inter', sans-serif;
}
    
img{
    max-width: 100%;
    display: block;
}
    
button{
    cursor: pointer;
}

input:focus {
    outline: none;
}