:root{
    --main-color:#377FB7;
    --second-color:#429235;
    --third-color:#CC3F0C;

    --neutral-100:#19231A;
    --neutral-200:#4E4B59;
    --neutral-300:#5F5C6B;
    --neutral-400:#7A7786;
    --neutral-500:#C6C5CE;
    --neutral-600:#F1F0F5;
    --white-color:#FCFCFC;
}